.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "A B"
    ;
    
  }

  .skill-one{
    grid-area: A;
  }
 
  .skill-two{
    grid-area: B;
  }

.skill-item{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.title-skill{
    color:rgba(255,140,0,0.6);
    font-size: 1.8rem;
}
.title-skill-1{
    font-size: 1.5rem;
    padding: 0.5rem;
    color:white
}
.icon-skill{
    display: flex;
    flex-direction: row;
    
}