.skills-container{
    margin: 3rem;
    display: flex;
    flex-direction: column;

}

.skill-item{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin: 2rem 0;
border-radius: 5%;
box-shadow: 3px 5px 3px 5px rgba(255,140,0,0.6)
}
.title-skill{
    color:rgba(255,140,0,0.6)
}
.title-skill-1{
    font-size: 2rem;
    padding: 0.5rem;
    color:rgba(255, 51, 0, 0.6)
    
}
.icon-skill{
    display: flex;
    flex-direction: row;
    
}