
.logo-nav{
    height: 150px;
    width:200px;
}
.link-nav{
    font-weight: bold;
    display: block;
    width: 100%;
   text-decoration: none;
   padding: 2rem 0;
   color: gold;
   font-size: 2rem;
}

@media screen and (min-width: 760px) {
    .navigation-container{
        text-align: left;
        margin-left:2rem ;
        
        }
        
        .nav{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .item-navigation{
            list-style-type: none;
            color: black;
            
        }
        
        .item-navigation:hover .link-nav{
            transform: scaleY(2);
        }
        
        
        .link-nav{
            font-weight: bold;
            display: block;
            width: 100%;
           text-decoration: none;
           padding: 2rem 0;
           color: gold;
        }
}



@media screen and (min-width: 1040px) {
    .navigation-container{
        text-align: left;
        margin-left:2rem ;
    
        
        }
        
        
        .nav{
            margin: 0;
            padding: 0;
        }
        .item-navigation{
            list-style-type: none;
            color: black;
            
        }
        
        .item-navigation:hover .link-nav{
            transform: scaleY(2);
        }
        
        
        .link-nav{
            font-weight: bold;
            display: block;
            width: 100%;
           text-decoration: none;
           padding: 2rem 0;
           color: gold;
        }
}

