@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');


main {
    margin:0;
    padding: 0;

}
header{
    
}
.me{

    margin: 3rem 1rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.arrow{
 color: rgb(255,140,0);;
 animation: pulse-arrow 2s infinite linear ;
 margin: auto;
 
}

.hankle{
    text-align: center;
    padding-top: 1rem;
}

@keyframes pulse-arrow {
    0%{
        opacity: 0.3;
    }

    33%{
        opacity: 0.6;
    }

    66%{
        opacity: 0.8;
    }

    100%{
        opacity: 0.8;
    }
}