@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');


*{
 box-sizing: border-box;
 padding: 0;
 margin:0
 
}
html {
  font-size: 62.5%;  
  min-height: 90vh;
  width: 100%;
}

body {
  font-family: 'Crimson Text', serif;
 
}

header{
}



h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

@keyframes easy{
  0%{
    background-position: 0 50%
  }

  50%{
    background-position: 100% 0%
  }

  100%{
    background-position: 0 50%
  }
}

@media screen and (min-width: 760px) {
  body {
    font-family: 'Crimson Text', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgb(217,28,52);
    background: -moz-linear-gradient(90deg, rgba(217,28,52,1) 0%, rgba(168,44,128,1) 18%, rgba(116,98,255,1) 42%, rgba(244,142,33,1) 66%, rgba(35,213,171,1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(217,28,52,1) 0%, rgba(168,44,128,1) 18%, rgba(116,98,255,1) 42%, rgba(244,142,33,1) 66%, rgba(35,213,171,1) 90%);
    background: linear-gradient(90deg, rgba(217,28,52,1) 0%, rgba(168,44,128,1) 18%, rgba(116,98,255,1) 42%, rgba(244,142,33,1) 66%, rgba(35,213,171,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d91c34",endColorstr="#23d5ab",GradientType=1);
    background-size: 200% 200%;
    animation: easy 18s  ease-in-out infinite;
    background-image: url('./assets/4884273.jpg');
  
  }

}
